gym>=0.17.2
pygame==2.0.0.dev10
numpy>=1.18.0
pymunk==5.6.0
box2d-py==2.3.5
python-chess==0.31.4
rlcard==0.2.5
pynput
hanabi_learning_environment==0.0.1
multi_agent_ale_py==0.1.8
magent==0.1.12
opencv-python>=4.4.0.42
