.docnavi > a {
    text-align: center;
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    color: white;
    letter-spacing: 1px;
    @include heading-font;
    &.active,
    &:hover {
      color: $primary;
    }
  }


.docnavcontainer {
  padding-top: 80px;
  padding-bottom: 10px;
  width: 100%;
  background-color: $gray-900;;
  padding-left: 20%;
  padding-right: 20%;


}

@media(min-width:768px) {
  .docnavcontainer {
        padding-top: 90px;
        padding-bottom: 15px;
    }

}
.pagecontainer {padding-top: 180px;}
@media only screen and (max-width: 991px) {
  .pagecontainer {padding-top: 150px;}
}

.doccontainer {
  table {
    /*table-layout: fixed;
    width: 100%;*/
    overflow-x: scroll;
  }

  th,td {
    word-wrap: break-word;

  }

  img {
    max-width: 40%;
  }
}

.bigtable{
  overflow-x: auto;
  margin-bottom: 1em;
}
