// Styling for the services section
.service-heading {
  margin: 5px 0;
  text-transform: none;
}

.service-code {
  text-align: center;
}

.service-code pre {
  //display: inline-block;
  text-align: left;
  background-color: #eee;
  padding-left: 2em;
  padding-right: 2em;
}
