PettingZoo[classic, butterfly]==1.23.1
Pillow>=9.4.0
# TODO: replace with ray[rllib] >= 2.6.2 once the next release is out
ray[rllib] @ https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-3.0.0.dev0-cp311-cp311-manylinux2014_x86_64.whl; python_version=='3.11' and sys_platform == "linux"
ray[rllib] @ https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-3.0.0.dev0-cp310-cp310-manylinux2014_x86_64.whl; python_version=='3.10' and sys_platform == "linux"
ray[rllib] @ https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-3.0.0.dev0-cp39-cp39-manylinux2014_x86_64.whl; python_version=='3.9' and sys_platform == "linux"
ray[rllib] @ https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-3.0.0.dev0-cp38-cp38-manylinux2014_x86_64.whl; python_version=='3.8' and sys_platform == "linux"
SuperSuit==3.8.0
torch>=1.13.1
tensorflow-probability>=0.19.0
