<header></header>

<section class="page-section">
<div class="docnavcontainer">
    <div class="row">
      <div class="col docnavi">
        <a href="docs/atari"> Atari</a>
      </div>
      <div class="col docnavi">
        <a href="docs/butterfly"> Butterfly</a>
      </div>
      <div class="col docnavi">
        <a href="docs/classic"> Classic</a>
      </div>
      <div class="col docnavi">
        <a href="docs/magent"> MAgent</a>
      </div>
      <div class="col docnavi">
        <a href="docs/mpe"> MPE</a>
      </div>
      <div class="col docnavi">
        <a href="docs/sisl"> SISL</a>
      </div>
    </div>
  </div>
</section>
