absl-py==0.2.2
alabaster==0.7.11
appnope==0.1.0
asn1crypto==0.24.0
astor==0.6.2
astroid==1.6.5
Babel==2.6.0
backcall==0.1.0
bleach==1.5.0
certifi==2018.8.13
cffi==1.11.5
chardet==3.0.4
cloudpickle==0.5.3
cryptography==2.2.2
cycler==0.10.0
Cython==0.28.5
decorator==4.3.0
docutils==0.14
entrypoints==0.2.3
gast==0.2.0
grpcio==1.13.0
h5py==2.8.0
html5lib==0.9999999
idna==2.7
imagesize==1.0.0
ipykernel==4.8.2
ipython==6.4.0
ipython-genutils==0.2.0
isort==4.3.4
jedi==0.12.0
Jinja2==2.10
jsonschema==2.6.0
jupyter-client==5.2.3
jupyter-core==4.4.0
Keras==2.2.0
Keras-Applications==1.0.2
Keras-Preprocessing==1.0.1
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.2
mccabe==0.6.1
mistune==0.8.3
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.5.0
numpy==1.14.5
numpydoc==0.8.0
packaging==17.1
pandocfilters==1.4.2
parso==0.2.1
pexpect==4.6.0
pickleshare==0.7.4
Pillow==6.2.0
prompt-toolkit==1.0.15
protobuf==3.6.0
psutil==5.4.6
ptyprocess==0.6.0
pycodestyle==2.4.0
pycparser==2.18
pydot==1.2.4
pyflakes==2.0.0
Pygments==2.2.0
pylint==1.9.2
pyOpenSSL==18.0.0
pyparsing==2.2.0
PySocks==1.6.8
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.12
pyzmq==17.0.0
QtAwesome==0.4.4
qtconsole==4.3.1
QtPy==1.4.2
requests==2.19.1
rope==0.10.7
scipy==1.1.0
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.5
sphinxcontrib-websupport==1.1.0
spyder==3.2.0
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
timer-cm==1.1
tornado==5.0.2
traitlets==4.3.2
urllib3==1.23
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
wrapt==1.10.11
