.code {
    color: #86193F;
}

.nav-item {
    border-right: solid;
    border-right-color: #bbb;
    border-right-width: 1px;
}

.nav-subsubitem {
    border: solid;
    border-color: #bbb;
    border-width: 1px
}

.bottom-padding {
    padding-bottom: 50px;
}
.navbar-brand {
    max-height: 187px;
}
.navbar-brand-img {
    max-height: 187px;
}
.link-container h1{
    font-weight: 500 !important;
    text-align: center;
}
.env-title h2{
    font-size: 2em !important;
    font-weight: 500 !important;
}
.selection-table-container h2 {
    text-align: center;
    font-weight: 500 !important;
    font-size: 2em !important;
}
.selection-table-container .card-title {
    font-weight: 500 !important;
    font-size: 1em !important;
}
.api-nav-link {
    text-align: center;
}
.navbar-text {
    font-family:Ubuntu;
}
.nav-first-item {
    width: 19vw;
    min-width: 110px
}
.nav-link {
    font-family:Ubuntu;
}
.selection-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-right: 0;
}

.env-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-right: 0;
}

.docu-container {
    box-sizing: border-box;
    display: flex;
    margin-right: 0;
}

.doccontainer.container {
    width: 50vw;
    /* padding-right: 15px;
    padding-left: 15px; */
    margin-right: auto;
    margin-left: auto
}

.home-img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    margin-bottom: 5%;
}

.home-img-style {
    max-height: 465px;
    height: 40vh;
}

.nav-submenu {
    width: 75%;
    max-height: 287px;
    display: flex;
    overflow-y: visible;
    flex-direction: column;
    flex-wrap: wrap;
    padding-inline-start: 0;
}

.nav-subsubmenu {
    padding-inline-start: 0px;
    max-height: 287px;
    display: flex;
    overflow-y: visible;
    flex-direction: column;
    flex-wrap: wrap;
}

.api-navbar {
    padding: 0rem 2rem;
    overflow-y: auto;
    z-index: 0 !important;
}

@media (max-width: 860px) {
    .env-icon {
        margin-left: 10px;
        margin-right: 10px;
    }
    .env-title {
        display: none;
    }
    .home-container {
        margin-top: 10vh;
    }
    .api-navbar {
        padding: 0rem 2rem;
        visibility: hidden;
    }
    .navbar-nav {
        padding-left: 10px;
    }
    .navbar-brand {
        display: none !important;
        visibility: hidden;
    }
    .navbar-text {
        left: 40%;
        padding-left: 8px;
    }
    .doccontainer.container {
        margin-top: 25%;
        z-index: 0;
        width: 80vh;
    }
    .shorten {
        height: 100%;
    }
    .navbar-site-title {
        height: 100%;
    }
    .markdown-body {
        margin-top: 15vh;
    }
    .selection-content {
        float:none;
        box-sizing: border-box;
        padding: 10px;
        overflow-x: auto;
    }
    .selection-table-container {
        float: none;
        padding: 10px;
        overflow-x: auto;
    }
    .docu-info {
        overflow-y: auto;
        padding: 10px;
        overflow-x: auto;
    }
    .docu-content {
        box-sizing: border-box;
        overflow-y: auto;
        padding: 10px;
        overflow-x: auto;
    }
    .navbar-nav {
        position: fixed;
        left: 0;
        top: 10vh;
        margin-top: 0px;
    }
    .menu-btn {
        position: fixed;
        left: 0;
        top: 0;
        width: 10vw;
        height: 10vh;
        min-height: 52px;
    }
    .navbar-arrow {
        visibility: hidden;
    }

    .link-container {
        padding-left: 20px;
    }
}

.api-navbar-nav {
    margin-top: 0px!important;
    background-color: rgba(0, 0, 0, 0)!important;
}

.navbar-collapse li {  
    list-style: none;  
    position: relative;
}

.navbar-collapse li li {  
    list-style: none;  
    position: relative;
    background: #fff;
    width: 12vw;
    left: 19vw;
}

.nav-subitem-1 {
    top: -89.06px;
    border: solid;
    border-color: #bbb;
    border-width: 1px
}

.nav-subitem-2 {
    top: -133.59px;
    border: solid;
    border-color: #bbb;
    border-width: 1px
}

.nav-subitem-3 {
    top: -178.12px;
    border: solid;
    border-color: #bbb;
    border-width: 1px
}
.nav-subitem-4 {
    border-top: solid;
    border-bottom: solid;
    border-color: #bbb;
    border-width: 1px;
    top: -222.65px;
}

.navbar-collapse li li li{  
    list-style: none;  
    position: relative;
    background: #fff;  
    left: 100%;
    top: -45.522px;
    z-index: 10;
}

.navbar-collapse ul li:hover {
    background: #eee;   
}  

.navbar-collapse .api-navbar-nav li {
    background: #fff;   
}  

.navbar-collapse ul ul {  
    position: absolute;  
    visibility: hidden;
}  
@media(min-width:860px) {
    .navbar-collapse ul li:hover ul {  
        visibility: visible;
    }
    .navbar-nav {
        padding-left: 0;
    }
    .top-padding {
        padding-top: 25px;
    }
    .side-padding {
        padding-left: 20vw;
        padding-right: 20vw;
    }
}

.navbar-collapse ul ul ul {
    position: absolute;
    visibility: hidden;
}

.navbar-collapse li:hover ul ul {
    visibility: hidden;
}

.navbar-collapse li li:hover ul {
    visibility: visible;
}

.api-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center
}

.api-collapse li {  
    list-style: none;  
    position: relative;
}  

.navbar-arrow {
    position: absolute;
    top: 12px;
    height: 20px;
    right: 0;
}

.icon {
    float: left;
    position: absolute;
    top: 14px;
    max-width: 17px;
    max-height: 20px;
    padding-left: 4px;
}

.env-icon {
    float: left;
    height: 2rem;
}

.fixed-footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 26px;
    z-index: 1030;
    color: white;
}

.fixed-left {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 52px;
    height: 10%;
    z-index: 1030
}

.fixed-right {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    width: 19%;
    z-index: 1030
}


.fixed-margin {
    left: 20%;
}

.purple_rectangle {
    background: #BA90F9;
    padding-bottom: .5em;
}

.menu-icon {
    display: flex;
    position:  fixed;
    top: max(2.5vh, 13px);
    left: 1vw;
    height: max(5vh, 26px);
}

.menu-btn:hover .collapse {
    display: flex;
}

.usage {
    padding-top: 2%;
}
   
.divMenu ul  
{  
     line-height: 25px;  
}  
    .divMenu ul ul {  
        position: absolute;  
        visibility: hidden;  
        top: 27px;  
    }  
   
    .divMenu ul li:hover ul {  
        visibility: visible;  
    }  
   
    .divMenu a:hover {
        font-weight: bold;  
    }

@media (min-width: 860px) {
    .home-container {
        margin-left: 19vw;
    }
    .env-icon {
        padding-top: 5px;
        margin-right: 10px
    }
    .fixed-left {
        position: fixed;
        left: 0;
        bottom: 0;
        top: 0;
        width: 19vw;
        z-index: 1030;
        height: 100%;
    }
    .selection-container {
        margin-left: 20%;
    }
    .docu-container {
        margin-left: 19vw;
    }
    .menu-icon {
        display: none;
    }
    .navbar-nav {
        margin-top: 0;
    }
    .link-container {
        margin-left: 19vw;
    }
    .timeline-container {
        margin-left: 19vw;
    }
}

@media (min-width:1440px) {
    .nav-first-item {
        width: 267px;
    }
    .home-container {
        margin-left: 267px;
    }
    .fixed-left {
        position: fixed;
        left: 0;
        bottom: 0;
        top: 0;
        width: 267px;
        z-index: 1030
    }

    .fixed-right {
        position: fixed;
        right: 0;
        bottom: 0;
        top: 0;
        width: 341px;
        z-index: 1030
    }

    .fixed-margin {
        left: 281px;
    }

    .navbar-collapse li li {  
        list-style: none;  
        position: relative;
        background: #fff;  
        left: 267px;
        width: 200.25px;
    }

    .navbar-collapse li li li{  
        list-style: none;  
        position: relative;
        background: #fff;  
        left: 200px;
        width: 200px;
        top: -45.522px;
    }

    .copyright {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 26px;
        z-index: 1030;
        color: white;
        padding-bottom: 10px;
    }

    .selection-container {
        box-sizing: border-box;
        display: flex;
        margin-right: 0;
        margin-left: 300px;
    }
    .link-container {
        margin-left: 267px;
    }
    .timeline-container {
        margin-left: 189px;
    }
    .docu-content {
        height: 100vh;
    }
    .docu-info {
        height: 100vh;
    }
    .selection-content {
        height: 100vh;
    }
    .selection-table-container {
        height: 100vh;
    }
}

@media screen and (max-width: 1440px) and (min-width: 860px) {
    .docu-content {
        height: 125vh;
    }
    .docu-info {
        height: 125vh;
    }
    .selection-content {
        height: 125vh;
    }
    .selection-table-container {
        height: 125vh;
    }
}

@media screen and (max-height: 600px) and (min-width: 860px) {
    .copyright {
        visibility: hidden;
    }
    .navbar-nav {
        overflow-y: auto;
        overflow-x: hidden;
    }
    .navbar-arrow {
        visibility: hidden;
    }
}

@media (max-width: 1440px) {
    .navbar-collapse li li li{
        left: 12vw;
    }
    .copyright {
        visibility: hidden;
    }
    .zoom {
        zoom: .8;
    }
}

@media (max-width: 992px) {
    .env-link {
        visibility: hidden;
    }
    .navbar-collapse li li li{  
        list-style: none;  
        position: relative;
        background: #fff;  
        top: -45.522px;
        width: 45.522px;
        height: 45.522px;
        z-index: 10;
    }
    .icon {
        left: 14px;
    }
    .icon-anchor {
        display: block;
        height: 100%;
    }
    .nav-subsubmenu {
        padding-inline-start: 0px;
        width: 225px;
        max-width: 225px;
        display: flex;
        overflow-y: visible;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (max-width: 1615px) and (min-width: 1440px) {
    .navbar-collapse li li li {
        left: 200px;
    }
}

@media (min-width: 860px) {
    .env-title-small {
        display: none;
    }

    .env-selector-title {
        display: none;
    }

    .spacer {
        height: calc(55vh - 425px);
    }

    .selection-table-container {
        width: 50%;
        overflow-y: auto;
        padding: 10px;
        overflow-x: auto;
        border-left: 3px solid black;
    }

    .selection-content {
        width: 50%;
        float: left;
        box-sizing: border-box;
        overflow-y: auto;
        padding: 10px;
        padding-top: 80px;
        overflow-x: auto;
    }
    
    .docu-info {
        width: 30%;
        overflow-y: auto;
        padding: 10px;
        padding-top: 40px;
        overflow-x: auto;
        float: left;
    }
    
    .docu-content {
        width:70%;
        float: left;
        box-sizing: border-box;
        overflow-y: auto;
        padding: 10px;
        padding-left: 5vw;
        padding-right: 5vw;
        overflow-x: auto;
        border-left: 3px solid black;
    }
}

