# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions
---
name: Python tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

permissions:
  contents: read

jobs:
  linux-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10']
    steps:
      - uses: actions/checkout@v3
      # - uses: openrndr/setup-opengl@v1.1
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          sudo apt-get install python-opengl xvfb
          pip install -e .[all]
          AutoROM -v
      - name: Source distribution test
        run: |
          python setup.py sdist
          pip install dist/*.tar.gz
      - name: Release Test
        run: |
          xvfb-run -s "-screen 0 1024x768x24" pytest -v --cov=pettingzoo --cov-report term
