---
name: MacOS tests

on:
    push:
        branches: [master]
    pull_request:
        branches: [master]

permissions:
    contents: read

jobs:
    macos-test:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
            # Big Sur, Monterey, and Ventura (M1)
                os: [macos-12, macos-13-xlarge]
                python-version: ['3.8', '3.9', '3.10', '3.11']
        steps:
            - uses: actions/checkout@v4
            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v4
              with:
                  python-version: ${{ matrix.python-version }}
            - name: Install dependencies
              run: |
                  pip install -e .[all]
                  pip install -e .[testing]
                  AutoROM -v
            - name: Full Python tests
              run: |
                  pytest -v --cov=pettingzoo --cov-report term
